<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1>
    {{ title |uppercase}}
  </h1>

  <div class="coord_inputs">

    <label>Latitude: <input [(ngModel)]='lat' placeholder="0.0"></label>
    <label>Longitude: <input [(ngModel)]='lon' placeholder="0.0"></label>

  </div>
  
  <p>
    {{lat}},{{lon}} {{bfetch}}
  </p>

</div>

<app-weather-details [latitude]="lat" [longitude]="lon" ></app-weather-details>

<!-- routerLink="/weather-details" -->
<!-- <router-outlet [lat]="latitude" [lon]="longitude" ></router-outlet> -->
