.fetch {    
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-flow: column wrap; */
    flex-direction: column;
}

.fetch button{
    font-size: 16px;
    background-color: blue;
    border: none;
    color: white;
    padding: 16px;
    /* text-align: center; */
    border-radius: 50%;
}